@CHARSET "UTF-8";
.faqa a{
	font-size: 2em;
    text-decoration: none;
    line-height: 2em;
    color: #999;
    list-style: none;
    text-transform: capitalize;
    border: 0px solid #5D4B33;
}
.faqa a:hover{
	 color: #F07818;
}