@CHARSET "UTF-8";

.submenumy > li >a:hover,
.submenumy > li >a:focus{
	background-color:#ec6300!important;
	
}
.modal-content{
	padding:0px 150px;
}
.modal-title{
  margin-top: 30px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}