<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.org.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.org.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.org.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SearchByType</servlet-name>
    <servlet-class>com.org.SearchByType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByType</servlet-name>
    <url-pattern>/SearchByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Books</servlet-name>
    <servlet-class>com.org.Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Books</servlet-name>
    <url-pattern>/Books</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Single</servlet-name>
    <servlet-class>com.org.Single</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Single</servlet-name>
    <url-pattern>/Single</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.org.UserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImgUpload</servlet-name>
    <servlet-class>com.org.ImgUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgUpload</servlet-name>
    <url-pattern>/ImgUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>com.org.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/UpdateUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderInfo</servlet-name>
    <servlet-class>com.org.OrderInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderInfo</servlet-name>
    <url-pattern>/OrderInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopCart</servlet-name>
    <servlet-class>com.org.ShopCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopCart</servlet-name>
    <url-pattern>/ShopCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connect</servlet-name>
    <servlet-class>com.org.Connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connect</servlet-name>
    <url-pattern>/Connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadShopCart</servlet-name>
    <servlet-class>com.org.loadShopCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadShopCart</servlet-name>
    <url-pattern>/loadShopCart</url-pattern>
  </servlet-mapping>
</web-app>